@import "src/styles/colors";

.container {
    height: 56px;
    gap: 20px;
    display: flex;
    align-items: center;

}

.initials {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: $white;
}

.username {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $white;
}

.lightUsername {
    color: $dark;
}