@import "src/styles/colors";


.container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $black;
    position: relative;
    overflow: scroll;
}

.header {
    position: fixed;
    width: 100%;
    // border: 1px solid $white;
}

.infoContainer {
    // border: 1px solid $white;
    top: 96px;
    position: relative;
    overflow: scroll;
    margin: 0px auto 0px 308px;
}


.containerContentSide {
    width: 308px;
    // border: 1px solid $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 96px;
    height: calc(100% - 96px);
}

// .tabsList {
//     // border: 1px solid $white;
//     // background-color: $white;
// }

.footer {
    // border: 1px solid $white;
    display: flex;
    align-items: flex-start;
}

.footerSecondary {
    color: $secondary;
}


.tab {
    display: flex;
    align-items: center;
    width: 125px;
    color: $secondary;
    font-family: 'Exo 2';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
    gap: 20px;

    svg>path {
        fill: $secondary;
    }

    &:hover {
        color: $white;

        svg>path {
            fill: $white;
        }
    }
}

.activeTab {
    color: $primary;

    svg>path {
        fill: $primary;
    }
}


.disabledTab {

    color: $graphite;

    svg>path {

        fill: $graphite;
    }

    &:hover {
        color: $graphite;
        cursor: not-allowed;

        svg>path {

            fill: $graphite;
        }
    }
}