
$primary: #7b61ff;
$primary-secondary: #917cff;
$secondary: #80858B;
$black: #000000;
$dark: #242426;
$graphite: #323537;
$error: #ff5154;
$light:#AFB2B6;
$white: #ffffff;
$green: #00a340;
$yellow: #f3a608;
$orange: #f45d2d;