@import "src/styles/colors";
@import "src/styles/mixins";


.container {
  background-image: url("../../img/background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.pixemaLogo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 90px;
}

.formContainerCenter {
  display: block;
  margin-top: auto;
}

.formContainer {
  width: 574px;
  flex: 1;
  margin: auto;
  padding: 40px;
  background-color: $dark;
  box-sizing: border-box;
  border-radius: 10px;


}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin-top: 40px;
}

.button {
  margin-top: 40px;
}